@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus{ 
  outline: 3px dashed #007bed;
  outline-offset: -1px;
}


:root {
  --font-family-base: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Neutral palette */
  --color-white:#fff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;
  --color-gray-400: #b6babe;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
  
  --color-text: var(--color-gray-900);
  --color-bg: var(--color-gray-50);
  --bg-opacity40:rgba(0,0,0,0.4);
  --bg-opacity60:rgba(0,0,0,0.6);
  --bg-opacity70:rgba(0,0,0,0.7);
  --bg-opacity80:rgba(0,0,0,0.8);
  --color-border:#d7d7d7;
  --color-point:#007bed;

  /* 긴급 */
  --priority-urgent: #d9363e;
  --priority-urgent-bg: rgba(255, 77, 79, 0.08);

  /* 중요 */
  --priority-high: #d46b08;
  --priority-high-bg: rgba(250, 140, 22, 0.08);

  /* 보통 */
  --priority-normal: #0958d9;
  --priority-normal-bg: rgba(0, 123, 237, 0.08);

  /* 낮음 */
  --priority-low: #333333;
  --priority-low-bg: rgba(51, 51, 51, 0.08);

  --color-start:#fcc325;

  /* 카테고리 */
  --category-color1: #c92a2a;
  --category-bg1: rgba(201, 42, 42, 0.08);

  --category-color2: #d46b08;
  --category-bg2: rgba(212, 107, 8, 0.08);

  --category-color3: #e0a800;
  --category-bg3: rgba(224, 168, 0, 0.08);

  --category-color4: #389e0d;
  --category-bg4: rgba(56, 158, 13, 0.08);

  --category-color5: #08979c;
  --category-bg5: rgba(8, 151, 156, 0.08);

  --category-color6: #1d78d6;
  --category-bg6: rgba(29, 120, 214, 0.08);

  --category-color7: #531dab;
  --category-bg7: rgba(83, 29, 171, 0.08);

  --category-color8: #c2185b;
  --category-bg8: rgba(194, 24, 91, 0.08);

  --category-color9: #333;
  --category-bg9: rgba(51,51,51,0.08);
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size:1.4rem;
  font-weight:500;
  line-height:1.5;
}

html {
  font-size: 62.5%;
}

input, textarea, select{
  border:0.1rem solid var(--color-border); 
  border-radius: 0.4rem;
}
input[type="text"],input[type="date"] {
  width:100%;
  height:4rem;
  padding:0 1rem;
}
input[type="checkbox"]{
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  margin: 0.2rem 0 0;
}
textarea{
  width:100%; 
  height:8rem; 
  resize: none; 
  padding:1rem;
}

select{
  width:100%;
  height:4rem;
  padding:0 1rem;
  cursor: pointer;
}
button{
  line-height: 1;
}

.commBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height:5rem;
  border-radius: 0.4rem;
}


.is-required{
  color:var(--color-point);
  margin-left:0.2rem;
}